@model EjercicioNasaConsumoAPIsRest.Models.DTO.PlanetaryResponse

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h3 class="pt-5 text-center">@Model.title</h3>
    <p class="text-center">@Model.date</p>

    <div class="row d-flex justify-content-center align-items-stretch pt-3">
        <div class="col-md-5 col-12 d-flex justify-content-center">
            <img src="@Model.url" alt="sin imagen" class="img-fluid rounded shadow" style="height: 95%;">
        </div>
        
        <div class="col-md-7 col-12 text-justify d-flex align-items-center">
            <p id="descrip" class="lead">@Model.explanation</p>
        </div>
    </div>
</div>